<style>
  body {
    margin: 5px;
    background: #A6A6A6
  }

  /* Tab Navigation */
  .nav-tabs {
      margin: 0;
      padding: 0;
      border: 0;    
  }
  .nav-tabs > li > a {
      background: #DADADA;
      border-radius: 0;
      box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover {
      background: #F5F5F5;
      box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
  }

  .nav-tabs li {
    width: 25%;
    text-align: center;
  }
  /* Tab Content */
  .tab-pane {
      background: #F5F5F5;
      box-shadow: 0 0 4px rgba(0,0,0,.4);
      border-radius: 0;
      text-align: center;
      padding: 10px;
      height: 300px;
  }

  .tab-content p {
    text-align: justify;
    margin-left: 27%;
    width: 70%;
  }

  .tab-content img {
    width: 178px;
    margin: 25px 0px 0 15px;
  }
  .tab-pane h3 {
    line-height:25px;
    margin-bottom:20px;
    margin-left: 300px;
    text-align: left;
  }
</style>

<div class="container">
  <br><br>    
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#1" role="tab" data-toggle="tab">
        <h4>Lav Mohan </h4><span>Secretary</span>
      </a>
    </li>
    <li><a href="#2" role="tab" data-toggle="tab">
      <h4>Lavina Mohan </h4><span>Joint Secretary</span>
      </a>
    </li>
  </ul>
    
  <div class="tab-content">
    <div class="tab-pane fade active in" id="1">
      <img alt="" title="" src="assets/secratory.jpg" align="left">
      <h3>Lav Mohan<br><span> ( Secretary )</span></h3>
      <p>Mr. Lav Mohan a young man with dynamic personality, near and dear to the students and expertise in school management, has joined his hands with his ace academician father ,a great educationist, CBSE math expert, city coordinator of four districts. He has joined as the secretary; the school will touch great height of success and establish new standards in academic excellence.</p>
    </div>
    <div class="tab-pane fade" id="2">
      <img alt="" title="" src="assets/lavina.jpg" align="left">
      <h3 style="line-height:25px; margin-bottom:20px;">Lavina Mohan<br><span> ( Joint Secretary )</span></h3>
      <p>
        School is a temple and each learner is a worshipper. We are sculpting the students in a very soft manner. Students learn as they grow we are not leaving any stone unturned to shape them in a good personality. Nobody can achieve success overnight, to attain phenomenal success in any field one has to undergo hardships of life &amp; has to endure pain. We towards teaching &amp; our students to learning are moving ahead on the same path in academic field.<br><br>
        One thing I hear from our students &amp; their parents is that they attend the school not just to learn the academics but for the entire experience differ than others. Suditi Global Academy is a place where students discover that learning is a fun. Our students are encouraged to become the best artistically, academically &amp; athletically. We are committed to make our students good citizen of our country &amp; we have been successful in our mission up to a great extent.
      </p>
    </div>
  </div>
</div>
<br><br>