<div class="container fullwidth">
  <br><br>
  <div id="content" class="clearfix">
    <div id="left-area">
      <div class="entry post clearfix">
        <p><%= image_tag('gallery-03.jpg', alt:"Logo", style:"height: 2px; width: 100%; padding: 5px 0 0 0;") %>
          </p>
        <ul>
          <li>
            The School Prospectus and Admission forms are available from the school office in the months of Feb, March, April and June for the ensuing year. 
            <p>(a) No system of registration a year or more in advance is in existence in the school.
              <br>
              (b)Admission tests are normally held in the month of Feb, March and June.
              <br>
              (c)No new admission into class X and XII will be permitted..
            </p>
          </li>
          <p></p>
          <li>A registration fee is payable with the submission of the registration form for admission per student. This fee is non-refundable and non-adjustable. The payment of the fee does not guarantee admission into the school. The admission can be sought after qualifying the admission test.</li>
          <li>No child will be admitted without the transfer Certificate obtained from the school last attended. If a student comes from a school other than Uttar Pradesh, the Inspector of school of the district of that state must countersign the Transfer Certificate.</li>
          <li>
            Admission will be considered on production of the following documents :- 
            <p>(a) Proof of Date of Birth.
              <br>
              (b) Latest Progress report of the student.
              <br>
              (c) Transfer Certificate.
            </p>
          </li>
          <p></p>
          <li>A student's name and date of birth, as recorded in the Transfer Certificate are official and legal and may not be changed subsequently by the school authority.</li>
          <li>If any student, boarder or day scholar, fails to return to school after any vacation with in three days of the official date of opening without certified intimation to and written permission of the Principal, his/her name will be struck off from the school rolls.</li>
        </ul>
        <p>&nbsp;</p>
        <h4>
          Eligibility criteria for admission
        </h4>
        <p><p><%= image_tag('gallery-03.jpg', alt:"Logo", style:"height: 2px; width: 100%; padding: 5px 0 0 0;") %>
          </p></p>
        <ul>
          <li>1. The admission for all the students (CBSE/ICSE) will be decided on the basis of cumulative performance of the students in the previous 4 years)</li>
          <li>2.  The general attitude, discipline, performance in previous classes and regularity to school will also be taken into consideration for admission..</li>
          <li>3.  It is compulsory for the selected students to appear for the interview and counseling session.</li>
          <li>4.   If the students fail to meet the required criteria for admission in the entrance exam they will have to choose an alternate stream. (Class XI)</li>
          <li>5.  Admission is subject to the discretion of the management.</li>
          <li>6.  The seat gets automatically cancelled if admission is not taken within 7 days of the result declaration.</li>
          <li>7.   No new admission into class X and XII will be permitted.</li>
          <li>8.  Case pertaining to refund of fees will not be subject to litigation.</li>
          <li>9.  A hostler will not be allowed to be a day scholar during the running session. Otherwise, he will be liable to pay full hostel fees for the whole session.</li>
          <li>10. The school reserves the right of revising the fees and amending rules from time to time.</li>
        </ul>
        <h4>Age Eligibility for Admission</h4>
        <p><img style="height: 2px; width: 100%; padding: 5px 0 7px 0;" alt="" src="wp-content/themes/MyCuisinev3.0/theme/images/sep_horizontal.png"><br>
          <strong>Play Groups</strong>&nbsp;&nbsp;: 2 Years and 6 months)
          <br>
          <strong>LKG</strong>&nbsp;&nbsp;        :3 Years and 6 months)<br>
          <strong>UKG</strong>&nbsp;&nbsp;        : 4 Years and 6 months)
          <br>
          <strong> Class I</strong>&nbsp;&nbsp;   :5 Years and 6 months)
          <br>
          <strong> So on</strong>&nbsp;&nbsp;     :....................)
        </p>
      </div>
      <!-- end .entry -->
    </div>
    <!-- end #left-area -->
  </div>
  <!-- end #content -->
  <div id="bottom-shadow"></div>
</div>
<br><br>