<div class="container fullwidth">
  <div id="content" class="clearfix">
    <div id="left-area">
      <div class="entry post clearfix">
        <h2 align="center">FEE STRUCTURE FOR HOSTLERS<br>
          Session 2016-2017
        </h2>
        <br>
        <img src="/assets/fee11.jpg" height="600" width="950" style="border:solid 2px #FF6600;">
        <br><br><br><br>
        <h2 align="center">FEE STRUCTURE FOR DAY SCHOLORS<br>
          Session 2016-2017
        </h2>
        <br>
        <img src="/assets/fee1.jpg" height="600" width="950" style="border:solid 2px #FF6600;">
      </div>
    </div>
  </div>
</div>
<br><br>