<style>
  .title {
    border-bottom: 2px solid green;
  }
  #content {
    width: 70%;
  }
</style>
<div class="container">
  <div id="content" class="clearfix"> 
    <h2 class="title">Infrastructure</h2>
    <p class="meta-info">Posted  on 2014-08-13</p>
    <div class="col-md-4">
      <img src="/assets/infra.jpg" class="post-thumb" alt="" width="212" height="213">
    </div>
    <div class="col-md-8">
      <p>State of the art infrastructure, magnificent building well adorned, ornamented and showcased with all the latest technological tools required for the school .There is beauty, space, quietness, interaction, dignity, and a feeling of spectacular holiness....</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div id="content" class="clearfix"> 
    <h2 class="title">DG Smart Class</h2>
    <p class="meta-info">Posted on 2014-08-03</p>
    <div class="col-md-4">
      <img src="/assets/dg-smart.jpg" class="post-thumb" alt="" width="212" height="213">
    </div>
    <div class="col-md-8">
      <p>It enables an active learning environment using innovative classroom activities, projects, multimedia demonstration for the development of the child's scholastic and co-scholastic skills....</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div id="content" class="clearfix"> 
    <h2 class="title">School Library</h2>
    <p class="meta-info">Posted on 2014-08-11</p>
    <div class="col-md-4">
      <img src="/assets/library2.jpg" class="post-thumb" alt="" width="212" height="213">
    </div>
    <div class="col-md-8">
      <p>The in-house library with over 8000 books and a photocopying facility is an effective tool in the education process of the students. It has adequate resource materials, reference books, encyclopedia, magazines, periodicals and newspapers in English and Hindi....</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div id="content" class="clearfix"> 
    <h2 class="title">Computer Labs</h2>
    <p class="meta-info">Posted on 2014-08-12</p>
    <div class="col-md-4">
      <img src="/assets/lab1.jpg" class="post-thumb" alt="" width="212" height="213">
    </div>
    <div class="col-md-8">
      <p>Information technology is now ubiquitous in the lives of the people across the globe. It has 50 computer sets with internet facilities. The computer lab is well equipped with the latest Pentium systems and it is very much with in tune with times....</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div id="content" class="clearfix"> 
    <h2 class="title">Science Laboratories</h2>
    <p class="meta-info">Posted on 2014-08-12</p>
    <div class="col-md-4">
      <img src="/assets/scince.jpg" class="post-thumb" alt="" width="212" height="213">
    </div>
    <div class="col-md-8">
      <p>The school has spacious and well-ventilated laboratories for the departments of Chemistry, Physics and Bio-Science, Math, Bio-tech and language lab..</p>
    </div>
  </div>
</div>
<br>
<br>