<div class="section section-padding choose-course">
  <div class="container">
    <div class="group-title-index">
      <h4 class="top-title"></h4>
      <h2 class="center-title">Mandatory Public Disclosure</h2>
      <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
    </div>
    <div class="choose-course-wrapper row">
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-1">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-book"></i></div>
            <div class="info">
              <div class="info-back"><a href="/public_disclosure">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/public_disclosure">Public Disclosure</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-2">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-list"></i></div>
            <div class="info">
              <div class="info-back"><a href="/noc">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/noc">No Objection Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-3">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-camera"></i></div>
            <div class="info">
              <div class="info-back"><a href="/affiliation_status">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/affiliation_status">Affiliation Letter</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-4">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-users"></i></div>
            <div class="info">
              <div class="info-back"><a href="/society_certificate">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/society_certificate">Soceity/Trust Registration Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-5">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-user-md"></i></div>
            <div class="info">
              <div class="info-back"><a href="/committee">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/committee">School Management COMMITTEE STRUCTURE</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/deo_certificate">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/deo_certificate">Self Certificate/DEO Certificate for affiliation</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/committees">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/committees">OFFICIAL OF DIFFERENT COMMITTEES AS PER CBSE RULES</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/recognition">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/recognition">Recognition Certificate Under RTE Act-2009</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/building_safety_certificate">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/building_safety_certificate">Building Safety Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/fire_safety">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/fire_safety">Fire Safety Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/land_certificate">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/land_certificate">Land Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/water_certificate">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/water_certificate">Water,Health and Sanitation Certificate</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/fees_structure">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/fees_structure">Fees Structure</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/academic_calender">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/academic_calender">Academic Calendar</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/book_list">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/book_list">Book List with Declaration</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/three_year_results">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/three_year_results">Last Three Year Results of the Board</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="item-course item-6">
          <div class="icon-circle">
            <div class="icon-background"><i class="icons-img fa fa-phone"></i></div>
            <div class="info">
              <div class="info-back"><a href="/norms_of_fixing_fee">You already learned one, remember?</a></div>
            </div>
          </div>
          <div class="name-course"><a href="/norms_of_fixing_fee">Norms of fixing fee</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .choose-course .name-course{
    margin-bottom: 40px;
  }
</style>