<style>
  .content .heading td {
    text-align: center;
  }
  .content td:first-child { 
    text-align: center
  };

</style>
<div class="container">
  <br><br>
  <div id="content" class="clearfix">
    <div id="left-area">
      <div class="entry post clearfix">
        <div class="one_third">
          <table style="text-align:center; font-family: Gabriola; font-size: 22px; margin-left:10px" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pad1" style="font-family: Arial; font-size: 13px;">
                  <table cellpadding="0" cellspacing="0" border="0" width="1100px">
                    <tbody>
                      <tr class="heading">
                        <td width="50" align="left" bgcolor="#414141" style="color:White; font-size: 15px;">S.N.</td>
                        <td width="100" align="left" bgcolor="#8B8907" style="color:White; font-size: 15px;">Name</td>
                        <td width="180" align="left" bgcolor="#414141" style="color:White; font-size: 15px;">Qualification</td>
                        <td width="200" align="left" bgcolor="#8B8907" style="color:White; font-size: 15px;">Designation</td>
                        <td width="250" align="left" bgcolor="#414141" style="color:White; font-size: 15px;">Occupation</td>
                        <td width="300" align="left" bgcolor="#8B8907" style="color:White; font-size: 15px;">Residental Address</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">1</td>
                        <td width="300" align="left">Dr. Kusum Mohan</td>
                        <td width="160" align="left">M.A, B.Ed, Ph.D</td>
                        <td width="160" align="left">President</td>
                        <td width="160" align="left">Service ,Seg,Mainpuri</td>
                        <td width="160" align="left">Nagariya Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">2</td>
                        <td width="180" align="left">Sh Satish Yadav</td>
                        <td width="160" align="left">M.Sc, B.Ed</td>
                        <td align="left">Vice-President</td>
                        <td align="left">Service Urban Bank Etawah</td>
                        <td align="left">3 Civil Line Etawah</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">3</td>
                        <td width="180" align="left">Dr. Saurabh Mishra</td>
                        <td width="160" align="left">B.Pharma</td>
                        <td align="left">Member</td>
                        <td align="left">Business</td>
                        <td align="left">City Hospital, Kachahri Road, Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">4</td>
                        <td width="180" align="left">Dr. Anand Muni</td>
                        <td width="160" align="left">M.Sc, B.Ed, P.Hd</td>
                        <td align="left">Secretary</td>
                        <td align="left">Service Svsspa Etawah</td>
                        <td align="left">St.Vps Campus , Etawah</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">5</td>
                        <td width="180" align="left">Dr.Ram Mohan</td>
                        <td width="160" align="left">M.Sc, M.Ed, Ph.D</td>
                        <td align="left">Manager/Officio Secretary</td>
                        <td align="left">Principal , Suditi Global Academy Mainpuri</td>
                        <td align="left">Sga Campus Nagria Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">6</td>
                        <td width="180" align="left">Dr. Sunil Pandey</td>
                        <td width="160" align="left">M.Sc, B.Ed, P.Hd</td>
                        <td align="left">Educationst Member</td>
                        <td align="left">Principal, Theociphical Inter College Etawah</td>
                        <td align="left">27-B Vijay Nagar, Friends Colony, Etawah</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">7</td>
                        <td width="180" align="left">Sh Jai Shankar Tiwari</td>
                        <td width="160" align="left">M.Sc, B.Ed</td>
                        <td align="left">VICE PRINCIPAL</td>
                        <td align="left">Suditi Global Academy Mainpuri</td>
                        <td align="left">Vill &amp; Post Rampur Naddi,Distt Jaunpur</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">8</td>
                        <td width="180" align="left">Mr. Sandeep Tripathi</td>
                        <td width="160" align="left">B.A, Llb</td>
                        <td align="left">Parent Representative</td>
                        <td align="left">Advocate Civil Court Mainpuri</td>
                        <td align="left">38,Purohitana,Tal Darvaja,Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">9</td>
                        <td width="180" align="left">Mrs Suman Yadav</td>
                        <td width="160" align="left">M.A</td>
                        <td align="left">Parent Representative</td>
                        <td align="left">Business,Shahit Gas Service, Mainpuri</td>
                        <td align="left">1784,Gali No. 9A,Raja Ka Bag, Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">10</td>
                        <td width="180" align="left">Sh Hari Singh</td>
                        <td width="160" align="left">B.E</td>
                        <td align="left">Sc Welfare Member</td>
                        <td align="left">Je, Hydel</td>
                        <td align="left">220Kv Sub</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">11</td>
                        <td width="180" align="left">Mrs Rajani Yadav</td>
                        <td width="160" align="left">M.A, B.Ed</td>
                        <td align="left">Educationst Member</td>
                        <td align="left">Principal ,Gyandeep Sr Sec Public School Shikohabad</td>
                        <td align="left">Gyandeepn Bhavan ,Shanti Nagar ,Shikohabad</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">12</td>
                        <td width="180" align="left">Mr Vedvart Gupta </td>
                        <td width="160" align="left">M.Sc</td>
                        <td align="left">Educationst Member</td>
                        <td align="left">Journalist, Dainik Jagran, Etawah</td>
                        <td align="left">Teacher, Colony Jaswant Nagar Etawah</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">13</td>
                        <td width="180" align="left">Ms Sonali Mishra</td>
                        <td width="160" align="left">M.A</td>
                        <td align="left">PA TO DIRECTOR</td>
                        <td align="left">PA TO DIRECTOR</td>
                        <td align="left">Power House Road Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">14</td>
                        <td width="180" align="left">Mrs Nidhi Agarwal</td>
                        <td width="160" align="left">PGDCA</td>
                        <td align="left">Women Welfare Member</td>
                        <td align="left">Counsler, Suditi Global Academy, Mainpuri</td>
                        <td align="left">208,Vibhav Residency, Vibhav Nagar ,Agra</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">15</td>
                        <td width="180" align="left">Sh Gajraj Prasad Yadav</td>
                        <td width="160" align="left">M.A, B.Ed</td>
                        <td align="left">Up Govt. Representative</td>
                        <td align="left">Dios, Mainpuri</td>
                        <td align="left">Dios Residece Govt Colony, Mainpuri</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30" align="left">16</td>
                        <td width="180" align="left">Mr. K.S. Upadhaya</td>
                        <td width="160" align="left">M.Sc, B.Ed</td>
                        <td align="left">Cbse Representative</td>
                        <td align="left">Principal,Jawahar Navodaya Vidhyalaya, Farrukhabad</td>
                        <td align="left">Vill &amp; Post Purra,Distt Hathras</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">17</td>
                        <td width="180" align="left">Mr Sudhansu Sekhar</td>
                        <td width="160" align="left">M.A,B.Ed</td>
                        <td align="left">Cbse Representative</td>
                        <td align="left">Principal,Translum Academy International,Meerut</td>
                        <td align="left">Principal Residence ,Tai Mawana Road, Meerut</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr bgcolor="#C8C7C7">
                        <td width="30" align="left">18</td>
                        <td width="180" align="left">Sh Chandra Prakash Batham</td>
                        <td width="160" align="left"></td>
                        <td align="left">(Vice-President)</td>
                        <td align="left">(Vice-President)</td>
                        <td align="left">Mainpuri</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .entry -->
      </div>
      <!-- end #left-area -->
    </div>
    <!-- end #content -->
    <div id="bottom-shadow"></div>
  </div>
</div>