<div class="container">
  <br>
  <div id="content" class="clearfix" style="margin-left: 40px;"> 
      <iframe src="<%= asset_path('staff_list.pdf') %>" width="970" height="1000"></iframe>
  </div>
  <br><br>
</div>