<div class="container fullwidth">
  <br><br>
  <div id="content" class="clearfix">
    <div id="left-area">
      <div class="entry post clearfix">
        <table style="margin-left:70px; width: 745px;" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>1.&nbsp;&nbsp;</td>
              <td>Name of the School with address:</td>
              <td><b>Suditi Global Academy</b> </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>(Strictly as per Affiliation sanction Letter<br>  or as permitted By the Board) with pin code no.</td>
              <td>Devi Bye Pass Road, Nagariya, Mainpuri</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>(i) Email</td>
              <td><a href="#">drrammohan23@gmail.com , suditiglobalacademy@gmail.com</a></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>(ii) Ph. No.</td>
              <td><b>05672-206277, 206266</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>(iii) Fax No.</td>
              <td><b>----------------</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>2.&nbsp; &nbsp;</td>
              <td>Year of establishment of school</td>
              <td><b>2008</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>3.&nbsp; &nbsp;</td>
              <td>Whether NOC  from State/UT or<br>recommendation of Embassy of India obtained</td>
              <td><b>Yes  .By Uttar Pradesh Govt </b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) NOC No.</td>
              <td><b>1465/23-12-2008-16(61)/08 </b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) NOC issuing date </td>
              <td><b>14-12-2008 </b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>4.&nbsp; &nbsp;</td>
              <td>Is the school is recognized, if yes by which authority: </td>
              <td><b>By CBSE only</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>5.&nbsp; &nbsp;</td>
              <td>Status of Affiliation:<br>Permanent/Regular/Provisional</td>
              <td><b>Provisional</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) Affiliation No.</td>
              <td><b>2131056</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) Affiliation with the Board Since </td>
              <td><b>April- 2009</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) Extension of affiliation upto </td>
              <td><b>March-2014,already applied for Extension</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>6.&nbsp; &nbsp;</td>
              <td>Name of Trust/Society/Company Registered<br>               
                Under section 25 of the Company Act, 1956.<br> 
                Period upto which Registration of Trust/Society<br> 
                Is valid.
              </td>
              <td><b>"Suditi" Society under 21,1860 valid upto-03-01-2015</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>7.&nbsp; &nbsp;</td>
              <td>List of members of school Managing Committee<br> With their Address/tenure and post held:</td>
              <td><b>As given on Website</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>8.&nbsp; &nbsp;</td>
              <td>Name and official address of the Manager/<br> President/Chairman/Correspondent</td>
              <td><b>Sh. R. M. Singh (Manager)</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) E-mail                                                                         </td>
              <td><a href="#">smroli4@gmail.com</a></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) Ph. No.                                                                         </td>
              <td><b>9412284333</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) Fax No.                                                                         </td>
              <td><b>............</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>9.&nbsp; &nbsp;</td>
              <td>Area of School Campus</td>
              <td><b>&nbsp;</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i)In Acres       </td>
              <td><b>6.08 Acares</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) In Sq. mtrs       </td>
              <td><b>24604.8 sq m</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) Built up area (sq. mtrs)       </td>
              <td><b>11810,54 sqm</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iv)  Area of Playground in Sq. mtrs                                      </td>
              <td><b>16000 sq m</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(v) Other facilities                                      </td>
              <td><b>&nbsp;</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Swimming Pool                                     </td>
              <td><b>NO</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) Indoor games                                                                                    </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iii) Dance Rooms                                                                           </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iv)  Gymnasium                                                                          </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(v) Music Rooms                                                                                                             </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(vi)  Hostels Rooms                                                                                                             </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(vii) Health and Medical Checkup                                                                                                           </td>
              <td><b>Yes</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>10.&nbsp; &nbsp;</td>
              <td>Transport facility</td>
              <td><b>&nbsp;</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) Own buses                                                                          </td>
              <td><b>15</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) Buses hired on contract basis                                                                                                              </td>
              <td><b>05</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) Details of transport charges          </td>
              <td><b>Mainpuri to School = Rs. 700  PM <br>
                Bhongaon to School= Rs. 800 PM <br>
                Kuraoli to School =Rs. 900 PM <br>
                Karhal to School =Rs. 900 PM <br>
                Barnahal to School =Rs. 950 PM <br>
                Anjani to School =Rs. 850 PM <br>
                </b>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>11.&nbsp; &nbsp;</td>
              <td><b>Details of salary being paid by the school <br>to teaching staff/non-teaching staff (to be updated time to time)</b></td>
              <td><b>&nbsp;</b></td>
            </tr>
          </tbody>
        </table>
        <table border="1" cellspacing="0" cellpadding="0" style="margin-left:70px; width: 745px;">
          <tbody>
            <tr>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>Designation</b></p>
                <p><b>PGT/TGT/PRT/Counsellor/etc.</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>Scale of Pay</b></p>
              </td>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>Grade Pay</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>% of DA</b></p>
              </td>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>HRA</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>EPF Contibution</b></p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>PRINCIPAL</p>
              </td>
              <td valign="top">
                <p>15600-39100</p>
              </td>
              <td valign="top">
                <p>6600</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>VICE-PRINCIPAL</p>
              </td>
              <td valign="top">
                <p>15600-39100</p>
              </td>
              <td valign="top">
                <p>4600</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>PGT</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4800</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>TGT</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4600</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>PRT</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4200</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>NTT</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4200</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>LIBRARIYAN</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4800</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>PTI</p>
              </td>
              <td valign="top">
                <p>9300-34800</p>
              </td>
              <td valign="top">
                <p>4600</p>
              </td>
              <td valign="top">
                <p>51%</p>
              </td>
              <td valign="top">
                <p>Free Quarter</p>
              </td>
              <td valign="top">
                <p>12%</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="margin-left:70px; width: 745px;" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>12.&nbsp; &nbsp;</td>
              <td><b>Mode of payment of salary</b></td>
              <td><b>&nbsp;</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) Name of the Bank through which Salary is drawing                                   </td>
              <td><b>Canara Bank Ltd, Mainpuri</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii) Through single cheque transfer advice                                                                      </td>
              <td><b>Through single cheque transfer</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) Individual cheque                 </td>
              <td><b>No</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iv) Cash                    </td>
              <td><b>No</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>13.&nbsp; &nbsp;</td>
              <td><b>Librabry facilities </b></td>
              <td><b>&nbsp;</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(i) Size of the Library in sq. feet                                                                                         </td>
              <td><b>84.5X20.6</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(ii)  No. of Periodicals                                                                           </td>
              <td><b>09</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iii) No. of Details </td>
              <td><b>09</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(iv)  No. of reference books class-wise </td>
              <td><b>563</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(v) No. of Magazine </td>
              <td><b>21</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>(vi)  Others </td>
              <td><b>9716</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>14.&nbsp; &nbsp;</td>
              <td>Name of the Grievance/redressal Officer with</td>
              <td><b>Dr. Ram Mohan</b></td>
            </tr>
            <tr>
              <td>&nbsp; &nbsp;</td>
              <td>E-mail, Ph. No., Fax No.</td>
              <td><b><a href="#">drrammohan23@gmail.com</a>, Mob-8755586333</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>15.&nbsp; &nbsp;</td>
              <td><b>Members of Sexual Harassment Committee- </b></td>
              <td><b>&nbsp;</b></td>
            </tr>
          </tbody>
        </table>
        <table border="1" cellspacing="0" cellpadding="0" style="margin-left:70px; width: 745px;">
          <tbody>
            <tr>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>S.No</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>Name</b></p>
              </td>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>Designation</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>Address</b></p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>01</p>
              </td>
              <td valign="top">
                <p>Dr. Kusum Mohan</p>
              </td>
              <td valign="top">
                <p>Chairman</p>
              </td>
              <td valign="top">
                <p>Suditi Campus, Devi Bye Pass Road, Mainpuri</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>02</p>
              </td>
              <td valign="top">
                <p>Prerna Payal</p>
              </td>
              <td valign="top">
                <p>HRD Director</p>
              </td>
              <td valign="top">
                <p>Suditi Campus, Devi Bye Pass Road, Mainpuri</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>03</p>
              </td>
              <td valign="top">
                <p>Ms. Sonali Mishra</p>
              </td>
              <td valign="top">
                <p>Member</p>
              </td>
              <td valign="top">
                <p>Suditi Campus, Devi Bye Pass Road, Mainpuri</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>Ms. Shephali</p>
              </td>
              <td valign="top">
                <p>Member</p>
              </td>
              <td valign="top">
                <p>Suditi Campus, Devi Bye Pass Road, Mainpuri</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>05</p>
              </td>
              <td valign="top">
                <p>Mrs. Mamta Bharadwaj</p>
              </td>
              <td valign="top">
                <p>Member</p>
              </td>
              <td valign="top">
                <p>Suditi Campus, Devi Bye Pass Road, Mainpuri</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="margin-left:70px; width: 745px;" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>16.&nbsp; &nbsp;</td>
              <td><b>Academic session period </b></td>
              <td><b>From April to March</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>17.&nbsp; &nbsp;</td>
              <td><b>Vacation period  </b></td>
              <td><b>From 20 May to June</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>18.&nbsp; &nbsp;</td>
              <td><b>Admission period   </b></td>
              <td><b>From Feb to March</b></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>19.&nbsp; &nbsp;</td>
              <td><b>Section wise enrolment of school for the current session -</b></td>
              <td><b>&nbsp;</b></td>
            </tr>
          </tbody>
        </table>
        <table border="1" cellspacing="0" cellpadding="0" style="margin-left:70px; width: 745px;">
          <tbody>
            <tr>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>CLASS</b></p>
              </td>
              <td valign="top" bgcolor="#8B8907" style="color:White;">
                <p><b>SECTION</b></p>
              </td>
              <td valign="top" bgcolor="#414141" style="color:White;">
                <p><b>ENROLMENT</b></p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>Nur</p>
              </td>
              <td valign="top">
                <p>02</p>
              </td>
              <td valign="top">
                <p>31</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>L.K.G.</p>
              </td>
              <td valign="top">
                <p>02</p>
              </td>
              <td valign="top">
                <p>34</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>U.K.G.</p>
              </td>
              <td valign="top">
                <p>02</p>
              </td>
              <td valign="top">
                <p>57</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>1<sup>st</sup></p>
              </td>
              <td valign="top">
                <p>02</p>
              </td>
              <td valign="top">
                <p>64</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>2<sup>nd</sup></p>
              </td>
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>120</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>3<sup>rd</sup></p>
              </td>
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>140</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>4<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>158</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>5<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>138</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>6<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>05</p>
              </td>
              <td valign="top">
                <p>193</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>7<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>04</p>
              </td>
              <td valign="top">
                <p>151</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>8<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>05</p>
              </td>
              <td valign="top">
                <p>194</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>9<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>07</p>
              </td>
              <td valign="top">
                <p>266</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>10<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>05</p>
              </td>
              <td valign="top">
                <p>191</p>
              </td>
            </tr>
            <tr bgcolor="#C8C7C7">
              <td valign="top">
                <p>11<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>05</p>
              </td>
              <td valign="top">
                <p>181</p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p>12<sup>th</sup></p>
              </td>
              <td valign="top">
                <p>03</p>
              </td>
              <td valign="top">
                <p>120</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="bottom-shadow"></div>
</div>
<br><br>