<div class="container">
  <br>
  <div id="content" class="clearfix" style="margin-left: 40px;"> 
    <iframe src="/assets/staff_list.pdf" height="1000" width="1050">
    </iframe>
  </div>
  <br><br>
</div>