<div class="container fullwidth">
  <br><br>
  <div id="content" class="clearfix">
    <div id="left-area">
      <div class="entry post clearfix">
        <table style="text-align: justify; font-family: Gabriola; font-size: 22px; margin-left:80px" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="pad1" style="width: 745px; padding-top: 20px;">
                <div class="bigbox">
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <table>
                            <tbody>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (1)
                                </td>
                                <td>
                                  If a parent of his/her own accord decides not to send his/her child to the school after he/she has deposited the admission fee and registration fee with the school, he/she will not be entitled to a refund of either the admission fee or the registration fee deposited and would be liable to pay three month's tuition fees in lieu of notice. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (2)
                                </td>
                                <td>
                                  The registration fee and the admission fee is non-refundable &amp; non-adjustable under any circumstances. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (3)
                                </td>
                                <td>
                                  If a parent wishes to withdraw his/her child at any time he/she must inform the principal in writing giving clear three month's notice of his/her intention to do so. If the specified notice is not given, the parent is bound by the rules of the school to pay full tuition fees for the ongoing session. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (4)
                                </td>
                                <td>
                                  Fees once paid will not be refunded in any case. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (5)
                                </td>
                                <td>
                                  Cases pertaining to refund to fees will not be subject to litigation. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (6)
                                </td>
                                <td>
                                  Disciplinary action will be taken against any student who is found to have used unfair means in the tests/examinations and if the student concerned continues to repeat the offence, he/she will be required to be withdrawn. 
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-right: 10px;" valign="top">
                                  (7)
                                </td>
                                <td>
                                  The Transfer Certificate will be issued to a student only after the parents have paid all sums due to the school.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="bottom-shadow"></div>
</div>
<br><br>