<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="footer-main-wrapper">
        <div class="row">
          <div class="col-2">
            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
              <div class="edugate-widget widget">
                <div class="content-widget">
                  <div class="info-list">
                    <ul class="list-unstyled">
                      <li>
                        <i class="fa fa-envelope-o"></i>
                        <a href="/">sga.jaswantnagar@gmail.com</a>
                      </li>
                      <li>
                        <i class="fa fa-phone"></i>
                        <a href="/">P: +91 84396-96970</a>
                      </li>
                      <li>
                        <i class="fa fa-map-marker"></i>
                        <a href="/">
                          <p>Nagla Lallu, Fulrai, Jaswantnagar</p>
                          <p>Etawah-206245 (U.P.)</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 sd380">
              <div class="useful-link-widget widget">
                <div class="title-widget">USEFUL LINKS</div>
                <div class="content-widget">
                  <div class="useful-link-list">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-6">
                        <ul class="list-unstyled">
                          <li><i class="fa fa-angle-right"></i><a href="/about_us">About us</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/vision_n_values">Vision and Values</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/management_detail">Management Detail</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/school_managing_committee">Managing Committee</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/academic_management">Academic Management</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/school_staff_list">School Staff List</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/careers">Careers</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-6">
                        <ul class="list-unstyled">
                          <li><i class="fa fa-angle-right"></i><a href="/infrastructure">Infrastructure</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/facilities">Facilities</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/news_and_events">News and Events</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/photo_gallery">Photo Gallery</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/video_gallery">Video Gallery</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/student_activities">Student's Activities</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/reach_us">Reach Us</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-6">
                        <ul class="list-unstyled">
                          <li><i class="fa fa-angle-right"></i><a href="/admission_procedure">Admission Procedure</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/fees_structure">Fees Structure</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/school_information">School Information</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/withdrawals">Withdrawals</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/registration_of_society">Registration of Society</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/affiliation_status">Affiliation Status</a></li>
                          <li><i class="fa fa-angle-right"></i><a href="/">Alumni Registration</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 sd380">
            <div class="edugate-widget widget">
              <div class="title-widget">Student Teacher Portal</div>
              <div class="content-widget">
                <div class="textwidget">
                  <span style="color:rgb(162, 157, 121)">Stay connected and learn about the latest at SPS</span>
                  <br><br>

                  <a href="http://www.facebook.com/pages/Suditi-Global-Academy/126665520749080" target="_blank">
                    <img src="/assets/fb.png" alt=" Facebook" title="Like us on Facebook">
                  </a>
                  
                  <a href="#" target="_blank">
                    <img src="/assets/twitter.png" alt=" Twitter" title="Follow us on Twitter">
                  </a>
                  
                  <a href="#" target="_blank">
                    <img src="/assets/linkedin.png" alt="Linkedin" title="Connect with us on Linkedin">
                  </a>

                  <a href="https://plus.google.com/109448514770989780375/posts?hl=en" target="_blank">
                    <img src="/assets/gp.png" alt="Google Plus" title="Find us on Google Plus">
                  </a>           
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="hyperlink">
        <div class="pull-left hyper-left">
          <ul class="list-inline">
            <li><a href="/index.html">HOME</a></li>
            <li><a href="/courses.html">COURSES</a></li>
            <li><a href="/about-us.html">ABOUT</a></li>
            <li><a href="/categories.html">PAGES</a></li>
            <li><a href="/news.html">NEWS</a></li>
            <li><a href="/contact.html">CONTACT</a></li>
          </ul>
        </div>
        <div class="pull-right hyper-right">@ SWLABS</div>
      </div> -->
    </div>
  </div>
</footer>