<header>
  <div class="header-topbar">
    <div class="container">
      <div class="topbar-left pull-left">
        <div class="email"><a href="#"><i class="topbar-icon fa fa-envelope-o"></i><span>sga.jaswantnagar@gmail.com</span></a></div>
          <div class="hotline"><a href="#"><i class="topbar-icon fa fa-phone"></i><span>+91 84396-96970</span></a></div>
      </div>
      <div class="topbar-right pull-right">           
       	<div class="socials">
          <a href="http://www.facebook.com/pages/Suditi-Global-Academy/126665520749080" target="_blank" class="facebook" title="Like us on Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://plus.google.com/109448514770989780375/posts?hl=en" target="_blank" class="google" title="Find us on Google Plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" target="_blank" class="twitter" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a>
          <!-- <a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
          <a href="#" target="_blank" class="blog"><i class="fa fa-rss"></i></a>
          <a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a> -->
        </div>
        <div class="group-sign-in">
        	<!-- <a href="<%#= new_user_session_path %>" class="login">login</a> -->
        	<!-- <a href="/register" class="register">register</a> -->
       	</div>
      </div>
    </div>
  </div>
  <div class="header-main homepage-01">
    <div class="container">
     	<div class="header-main-wrapper">
        <div class="navbar-heade">
          <div class="logo pull-left"><a href="/" class="header-logo"><%= image_tag('logo-color-1.png', alt:"Logo") %></a>
        	</div>
        	<button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar">
        		<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        	</button>
        </div>
        <nav class="navigation collapse navbar-collapse pull-right">
          <ul class="nav-links nav navbar-nav">
            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">About Us<span class="fa fa-angle-down icons-dropdown"></span></a>
              <ul class="dropdown-menu edugate-dropdown-menu-1">
                <li><a href="/about_us" class="">About Us</a></li>
                <li><a href="/manager_message" class="link-page">From Manager Desk</a></li>
                <li><a href="/principal_message" class="link-page">From Principal Desk</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/photo_gallery" class="main-menu">gallery<span class=" icons-dropdown"></span></a>
            </li>
            <li class="dropdown"><a href="/infrastructure" class="main-menu">Infrastructure<span class=" icons-dropdown"></span></a>
            </li>
            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Others<span class="fa fa-angle-down icons-dropdown"></span></a>
              <ul class="dropdown-menu edugate-dropdown-menu-1">
                <li><a href="/vision_n_values" class="">Vision & Mission</a></li>
                <li><a href="/admission_procedure" class="link-page">Admission Procedure</a></li>
                <li><a href="/management_detail" class="link-page">Management</a></li>
                <li><a href="/school_managing_committee" class="link-page">School Management Committee</a></li>
                <li><a href="/academic_management" class="link-page">Academic Management</a></li>
                <li><a href="/school_staff_list" class="link-page">Staff List</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/facilities" class="main-menu">Facilities<span class=" icons-dropdown"></span></a>
            </li>
            <li class="dropdown"><a href="<%= mandatory_public_disclosure_path %>" class="main-menu">Mandatory Public Disclosure<span class="icons-dropdown"></span></a>
              
            </li>
            <li><a href="/reach_us" class="main-menu">Contact</a></li>
            
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>